







{% if photo %}

      <a href="{% url 'management:create_photo' daily_check_id=daily_check_id photo_num=photo_num title_action='update' %}"><button type="button" class="btn btn-secondary">Изменить</button></a>
      <a href="{{ photo.file.url }}"><button type="button" class="btn btn-secondary">Посмотреть</button></a>


{% else %}
    <a href="{% url 'management:create_photo' daily_check_id=daily_check_id photo_num=photo_num title_action='create' %}"><button type="button" class="btn btn-secondary">Добавить</button></a>
{% endif %}