{% extends 'base.html' %}

{% block title %} Закрытие смены {% endblock %}

{% block content %}

{% include 'includes/errors.html' %}

<form method="POST">
    {% csrf_token %}

    <div style="text-align: center; position: relative;">
        <span id="photoStatus_1" class="btn btn-success form-control py-3 mb-2">Добавить фото сбоку</span>
        {{ form.photo_1 }}
    </div>

    <div style="text-align: center; position: relative;">
        <span id="photoStatus_2" class="btn btn-success form-control py-3 mb-2">Добавить фото спереди</span>
        {{ form.photo_2 }}
    </div>

    Дефекты: {{ form.defect }}
    Статус дефектов: {{ form.defect_status }}
    Общий пробег: {{ form.mileage_auto }}
    Дневной пробег: {{ form.mileage_daily }}
    Документы/ключи: {{ form.document }}
    Стоянка: {{ form.location }}

    <button type="submit" class="btn btn-success mb-3 form-control py-3">Закрыть смену</button>
</form>


{% endblock %}

{% block script %}
    <script>
        function handleFileChange(id, status) {
            var photoStatus = document.getElementById(status);
            var fileInput = document.getElementById(id);

            if (fileInput.files.length > 0) {
                photoStatus.innerText = 'Фото добавлено';
                fileInput.disabled = true;
            }
        }

    </script>

{% endblock %}