{% extends 'base.html' %}

{% load director_filters %}

{% block title %} Закрытие смены {% endblock %}

{% block content %}

{% include 'includes/errors.html' %}

<form id="myForm" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% row_form name='Дефекты' info=form.defect %}
    {% row_form name='Статус дефектов' info=form.defect_status  %}
    {% row_form name='Общий пробег' info=form.mileage_auto %}
    {% row_form name='Дневной пробег' info=form.mileage_daily %}
    {% row_form name='Документы/ключи' info=form.document %}
    {% row_form name='Стоянка' info=form.location %}

    <div class="row align-items-start mb-2 border rounded" style="text-align: center; position: relative;">
        <span id="photoStatus_1" class="col-12 btn btn-secondary form-control py-3">Добавить фото сбоку</span>
        {{ form.photo_1 }}
    </div>

    <div class="row align-items-start mb-4 border rounded" style="text-align: center; position: relative;">
        <span id="photoStatus_2" class="col-12 btn btn-secondary form-control py-3">Добавить фото спереди</span>
        {{ form.photo_2 }}
    </div>

    <div class="row align-items-start mb-3 border rounded">
        <button type="submit" class="col-12 btn btn-success py-3" >Закрыть смену</button>
    </div>

</form>


{% endblock %}

{% block script %}
    <script>
        function handleFileChange(id, status) {
            var photoStatus = document.getElementById(status);
            var fileInput = document.getElementById(id);

            if (fileInput.files.length > 0) {
                photoStatus.innerText = 'Фото добавлено';
            }
        }
    </script>
    <script>
        document.getElementById("myForm").addEventListener("submit", function(event) {
            if (!this.checkValidity()) {
                 $(".loader_inner").fadeIn();
                 $(".loader").fadeIn();
            } else {
                 event.preventDefault();
            }
         });
    </script>

{% endblock %}