{% extends 'base.html' %}

{% block title %} Профиль {% endblock %}

{% block content %}


        {% for car in cars %}

        <div class="row align-items-start mb-3 border rounded">
            <div class="col-4 align-self-center text-center py-4">
                {{ car }}
            </div>
            <a href="{% url 'management:car_return' car.id %}" class="btn col-4 py-3 ps-2 bg-danger rounded-0 text-white">Вернуть <br> авто</a>


             {% if car.get_active_daily_check %}
                 <a href="{% url 'management:close_daily_check' car.get_active_daily_check.id %}" class="btn col-4 py-3 ps-2 btn-warning rounded-0 rounded-end border-start-s0 ">Закрыть <br> смену</a>
             {% else %}
                {% if car.get_now_daily_check %}
                    <button type="button" class="btn col-4 btn-light rounded-0 py-3 ps-2">Смена <br> закрыта</button>
                {% else %}
                    <a href="{% url 'management:create_daily_check' car.id %}" class="btn btn-success rounded-0 col-4 rounded-end py-3 ps-2">Открыть <br> смену</a>
                {% endif %}
             {% endif %}



        </div>
        {% empty %}
    <div class="row align-items-start mb-3 border rounded">
         <div class="col text-center py-4">
            Нет закрепленных автомобилей
        </div>
    </div>
        {% endfor %}




{% endblock %}